@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div id="home_chart" class="col-md-8">
        <!--Stock chart-->
        <canvas id="StockChart" height="500" width="800"></canvas>
    </div>
    <div id="chart_options" class="col-md-2">
        <select id="chart_range">
            <!-- Date Range of stocks for chart -->
            <option>Option</option>
        </select>
        <select id="chart_properties" multiple>
            <!--Stock properties to show on chart
    Price, Open, Close(default), High, Low, Volume(default)-->
            <option>Option</option>
        </select>
        <table class="table">
            <!-- Stock Information -->
            <tr>
                Company : Company
            </tr>
        </table>
    </div>
    <div id="live" class="col-md-2">
        <label>
            Recommended Top 5 to buy
        </label>
        <ul>
            <li>Stock</li>
            <li>Stock</li>
            <li>Stock</li>
            <li>Stock</li>
            <li>Stock</li>
        </ul>
        <label>
            Recommended Top 5 to sell
        </label>
        <ul>
            <li>Stock</li>
            <li>Stock</li>
            <li>Stock</li>
            <li>Stock</li>
            <li>Stock</li>
        </ul>
        <label>
            Other stocks
        </label>
        <ul>
            <li>Stock</li>
            <li>Stock</li>
            <li>Stock</li>
            <li>Stock</li>
            <li>Stock</li>
            <li>Stock</li>
            <li>Stock</li>
            <li>Stock</li>
        </ul>
    </div>
</div>
<script>
     createChart("@Model.Dates", "@Model.Prices", "@Model.Volumes", @Model.AvgPrice, @Model.AvgVolume);
</script>