@model TradingApp.Models.ViewModal.CompaniesStocks

@{
    ViewData["Title"] = "Home";
}
<div class="alert-info alert-dismissable">@ViewData["message"]</div>
<div class="container-fluid">
    <div id="home_chart" class="col-md-8">
        <!--Stock chart-->
        <h3> @Model.Current.symbol</h3>
        
        <br />
        <canvas id="homeChart" height="500" width="880"></canvas>
        <a id="save_chart" class="btn btn-success" asp-controller="Home" asp-action="SaveCharts" asp-route-symbol="@Model.Current.symbol">Save Chart</a> 
        <p style="color:red">Click on properties to view/hide on chart.</p>
        <h4>@ViewData["props"]</h4>
    </div>
    <div id="chart_options" class="col-md-2">
        <select id="chart_range" style="width:100%; margin:10px" onchange='changeChart("@ViewData["Symbol"]")'>
            <!-- Date Range of stocks for chart -->
            @*<option value="dynamic">Dynamic</option>*@
            <option value="1d">1 Day</option>
            <option value="1m">1 Month</option>
            <option value="3m">3 Months</option>
            <option value="6m">6 Months</option>
            <option value="ytd">Year to date</option>
            <option value="1y">1 Year</option>
            <option value="2y">2 Years</option>
            <option value="5y">5 Years</option>
            <option value="">All</option>
        </select>
        <table class="table">
            <!-- Stock Information -->
            <tr>
                <td>Company Symbol: </td>
                <td>@Model.Current.symbol</td>
            </tr>
            <tr>
                <td>Low: </td>
                <td>@Model.Current.low</td>
            </tr>
            <tr>
                <td>High: </td>
                <td>@Model.Current.high</td>
            </tr>
            <tr>
                <td>Open: </td>
                <td>@Model.Current.open</td>
            </tr>
            <tr>
                <td>Close: </td>
                <td>@Model.Current.close</td>
            </tr>
            <tr>
                <td>Change: </td>
                <td style='color:@((@Model.Current.change<0)?"red":"green")'>@Model.Current.change</td>
            </tr>
        </table>

        <div id="userOnly">
            <label>
                Recommended Top 5 stocks
            </label>
            <div class="list-group">
                @foreach (var top in Model.Top5)
                {
                    <button type="button" class="list-group-item" style='color:@((top.AveragePercentChange > 0)?"green":"lightgreen")' onclick='changeChart("@top.Symbol")'> @top.Symbol - @top.Name</button>
                }
            </div>
            @*<label>
                Recommended Top 5 stocks
            </label>
            <div class="list-group">
                @foreach (var bottom in Model.Bottom5)
                {
                    <button type="button" class="list-group-item" style='color:@((bottom.AveragePercentChange > 0)?"green":"lightgreen")' onclick='changeChart("@bottom.Symbol")'> @bottom.Symbol - @bottom.Name</button>
                }
            </div>*@
        </div>
    </div>
    <div id="live" class="col-md-2">
        <button class="btn btn-danger" onclick="refresh()">Refresh Companies</button>
        

        <div style="height:80vh; overflow:auto">
            <label>
                All stocks
            </label>
            <div class="list-group" size="10">
                @foreach (var company in Model.Companies)
                {
                    <button type="button" class="list-group-item" onclick='changeChart("@company.symbol")'> @company.symbol - @company.name</button>
                }
            </div>
        </div>

    </div>
</div>
<script>
    //createChart(id, xlabels, ylabels, ydatas, cdataavgs)
    createChart("homeChart", ["@Model.Dates"], ["Open", "High", "Low", "Close", "Volume", "Change", "Percentage Change", "Change Over Time"], ["@Model.Opens", "@Model.Highs", "@Model.Lows", "@Model.Closes", "@Model.Volumes", "@Model.Changes", "@Model.PercentageChanges", "@Model.ChangesOverTime"], [@Model.AvgPrice, @Model.AvgVolume], true);
    function refresh() {
        if (window.confirm("Refreshing can take several minutes. Do you want to continue?")) {
            location.href = "/Home/SaveCompanies";
        }
    }
</script>
<script src="~/js/JavaScript.js"></script>